<mat-card class="asmaulhusna-card">
  <mat-card-header>
    <mat-card-title><span class="index">({{index}})</span>&nbsp;{{arabic}}</mat-card-title>
    <mat-card-subtitle>{{latin}}</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <p class="transliteration">{{transliteration}}</p>

    <strong class="meaning-label">meaning:</strong>
    <p class="meaning">
      {{meaning}}
    </p>

  </mat-card-content>

  <mat-card-actions align="end">
    <button mat-raised-button (click)="next()">next</button>
  </mat-card-actions>
</mat-card>
